# Python
__pycache__/
*.pyc

# Virtual Environment
venv/
.env

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# Anaconda
anaconda_projects/

# Model
saved_summary_model/

# Operating System
.DS_Store
Thumbs.db
# Jupyter
.ipynb_checkpoints/

# Operating System
.DS_Store
Thumbs.db